.dark-theme {
    --bs-body-bg: #19222D;
    --bs-block-component: #2A384B;
    --bs-body-color: #DDE2E9;
    --bs-block: #1F2937;
    --bs-header: #1F2937;
    --bs-setting: #EBEEF2;
    --bs-interface-icons: #fff;
}