@import "helpers/variables";

.dark-theme {
        --body-bg: #19222D;
        --body-color: #DDE2E9;
        --block: #1F2937;
        --block-comp: #2A384B;
        --header: #1F2937;
        --setting: #FFFFFF;
}
