@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/utilities";
.dark-theme {
    /* Redefine theme colors for dark theme */
    $body-color: #dde2e9;
    $body-bg: #19222d;
    $block-syst: white;
    /* Dark variants of components custom colors */
    $system-component: #1f2937;
    $block-component: #2a384b;
    $block: #1f2937;

    $setting: #ebeef2;
    $interface-icons: #fff;

    $theme-colors: (
        "base": $block-syst, 
        "body-color":$body-color,
        "body-bg":$body-bg,
        "system-component": $system-component, 
        "block-component": $block-component, 
        "block": $block, 
        "setting": $setting, 
        "interface-icons": $interface-icons);

    /* Redefine theme color variables */
    @each $color, $value in $theme-colors {
        --#{$variable-prefix}#{$color}: #{$value};
    }

    /* Redefine theme color rgb vars (used for bg- colors) */
    $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
    @each $color, $value in $theme-colors-rgb {
        --#{$variable-prefix}#{$color}-rgb: #{$value};
    }

    --#{$variable-prefix}body-color: #{$body-color};
    --#{$variable-prefix}body-bg: #{$body-bg};
}
